@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать!</h1>
    <p>Хорошо, что вы с нами! Мы рады предоставить вам возможность покупки напитков в наших автоматах!</p>
</div>
<div class="container-fluid" id="mainBlock">
</div>
@section Scripts
{
    <script>
        var mainBlockVue = new Vue({
            el: '#mainBlock',
            data: {
                images: []
            },
            created: async function () {

            }
        });
    </script>
}
