@{
    ViewData["Title"] = "Home Page";
}

@section Styles
{
    <link rel="stylesheet" href="~/css/album.css" />
}

<div class="container-fluid" id="mainBlock">
    <div class="row">
        <div class="col-md-12 jumbotron">
            <h1>Добро пожаловать!</h1>
            <p class="lead">Рады приветствовать вас в нашей автоматизированной системе покупки напитков в автоматах!</p>
            <p class="h4">{{machine.name}}</p>

        </div>
    </div>
    <div class="row py-4 bg-white">
        <div class="col-md-12">
            <div class="float-left">
                <h4 class="d-flex justify-content-between align-items-center">
                    <span class="text-dark">Ваши средства в автомате : <span class="badge badge-secondary badge-info">{{totalLocalCoinsInMachine}}</span></span>
                </h4>
            </div>
        </div>

        <div class="col-md-12">
            <div class="float-left">
                <h4 class="d-flex justify-content-between align-items-center">
                    <span class="text-dark">Куплено напитков <span class="badge badge-secondary badge-info">{{boughtDrinks.length}}</span></span>
                </h4>
            </div>
        </div>
    </div>

    <div class="row py-4 bg-light">
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-4" v-for="drink in machine.drinks">
                    <div class="card mb-4 shadow-lg">
                        <img class="bd-placeholder-img card-img-top py-sm-2" :src="drink.image.path" height="225"
                             role="img" aria-label="Placeholder: Thumbnail">
                        <div class="card-body">
                            <h4 class="card-text">{{drink.name}} <span class="badge badge-primary">{{drink.count}}</span></h4>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button"
                                            class="btn btn-sm btn-outline-success"
                                            v-bind:disabled="isEnabledToBuy(drink)===false"
                                            @@click="buyDrink(drink)">
                                        Купить
                                    </button>
                                </div>
                                <small class="text-muted">{{drink.price}}. руб</small>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-3 order-md-2">
            <div class="row">
                <div class="col-md-6 mb-1 pr-1 pl-1" v-for="coin in coins">
                    <div class="card text-dark text-center" title="Нажмите чтобы закинуть монету">
                        <a href="javaScript:void(0);" v-bind:class="{'disabledCoin':coin.coinState===1}" @@click="pushCoinIntoMachine(coin)">
                            <img :src="coin.image.path" :alt="coin.name" class="card-img-top p-sm-2">
                        </a>
                        <h5 class="card-title">{{coin.name}}</h5>
                    </div>
                </div>
            </div>


        </div>
    </div>

</div>

@section Scripts
{
    <script>
        var mainBlockVue = new Vue({
            el: '#mainBlock',
            data: {
                machine: {},
                localCoinsInMachine: [],
                boughtDrinks: [],
                coins: []
            },
            created: async function () {
                this.machine = await this.getMostAppropriateMachine();
                this.machine.drinks = this.getUniqueDrinksWithCount(this.machine.drinks);
                this.localCoinsInMachine = this.getLocalCoinsInMachine();
                this.coins = this.getUniqueCoinsWithCount(this.machine.coins);
            },
            computed: {
                totalLocalCoinsInMachine: function () {
                    return this.localCoinsInMachine.reduce((total, machineCoin) => total + machineCoin.coin.value, 0);
                }
            },
            methods: {
                async getMostAppropriateMachine() {
                    return (await window.axios.get('/api/Machines/MostAppropriate')).data;
                },
                async pushCoinIntoMachine(coin) {

                    const machineCoin = {
                        coinId: coin.id,
                        machineId: this.machine.id,
                        coinState: 0
                    };

                    const createdCoin = (await window.axios.post(`/api/MachineCoins/`, machineCoin)).data;

                    createdCoin.coin = coin;
                    this.localCoinsInMachine.push(createdCoin);
                    this.machine.coins.push(createdCoin);
                    sessionStorage.setItem('localCoins', JSON.stringify(this.localCoinsInMachine));
                },
                async buyDrink(drink) {
                    this.boughtDrinks.push(drink);
                    const machineDrink = this.machine.drinks.find(f => f.id === drink.id);
                    await this.removeDrinkFromMachine(machineDrink.id, this.machine.id);
                    await this.withDrawMoney(machineDrink.price);
                },
                async removeDrinkFromMachine(drinkId, machineId) {
                    await window.axios.delete(`/api/MachineDrinks/${drinkId}/${machineId}`);
                },
                async withDrawMoney(machineDrinkPrice) {

                    const sortedLocalCoins = this.localCoinsInMachine
                        .sort((a, b) => (a.coin.value < b.value) ? 1 : ((b.coin.value < a.value) ? -1 : 0));

                    const withDrewCoins = [];

                    for (let i = 0; i < sortedLocalCoins.length; i++) {
                        if ((machineDrinkPrice - sortedLocalCoins[i].coin.value) >= 0) {
                            machineDrinkPrice -= sortedLocalCoins[i].coin.value;
                            withDrewCoins.push(sortedLocalCoins[i]);
                        } else if (machineDrinkPrice === 0) {
                            break;
                        }
                    }

                    const deleteResult = await window.axios.delete('/api/MachineCoins/Range',
                        { data: withDrewCoins.map(m => m.id) });

                    for (let i = 0; i < withDrewCoins.length; i++) {
                        this.localCoinsInMachine.splice(this.localCoinsInMachine.indexOf(withDrewCoins[i]), 1);
                    }

                    sessionStorage.setItem('localCoins', JSON.stringify(this.localCoinsInMachine));
                    this.deleteMachineCoins(withDrewCoins);
                },

                deleteMachineCoins(machineCoins) {
                    for (let i = 0; i < machineCoins.length; i++) {
                        const machineCoin = this.machine.coins.find(f => f.id === machineCoins[i].id);
                        this.machine.coins.splice(this.machine.coins.indexOf(machineCoin), 1);
                    }
                },
                isEnabledToBuy(drink) {
                    return this.totalLocalCoinsInMachine >= drink.price &&
                        this.machine.drinks.filter(f => f.id === drink.id).length > 0;
                },
                getLocalCoinsInMachine() {
                    const localCoins = JSON.parse(sessionStorage.getItem('localCoins'));
                    if (localCoins !== undefined && localCoins !== null && localCoins.length > 0) {
                        if (localCoins.length > this.machine.coins.length) {
                            sessionStorage.setItem('localCoins', JSON.stringify([]));
                            return [];
                        }

                        return localCoins;
                    }
                    return [];
                },
                getUniqueDrinksWithCount(drinks) {
                    return drinks
                        .map(function (value, index, array) {
                            var drink = value.drink;
                            drink.count = array.reduce((total, x) => (x.drinkId === drink.id) ? total + 1 : total, 0);
                            return drink;
                        })
                        .filter((value, index, self) => self.map(s => s.id).indexOf(value.id) === index);
                },
                getUniqueCoinsWithCount(coins) {
                    return coins
                        .map(function (value, index, array) {
                            var coin = value.coin;
                            coin.count = array.reduce((total, x) => (x.coinId === coin.id) ? total + 1 : total, 0);
                            coin.coinState = value.coinState;
                            return coin;
                        })
                        .filter((value, index, self) => self.map(s => s.id).indexOf(value.id) === index)
                        .sort((a, b) => (a.value > b.value) ? 1 : ((b.value > a.value) ? -1 : 0));
                },
                onLockMachineCoin(machineCoin) {
                    this.updateCoinState(machineCoin, 1);
                },
                onUnLockMachineCoin(machineCoin) {
                    this.updateCoinState(machineCoin, 0);
                },
                updateCoinState(machineCoin, coinState) {
                    const coin = this.coins.find(f => f.id === machineCoin.coinId);
                    const coinIndex = this.coins.indexOf(coin);
                    coin.coinState = coinState;
                    this.coins.splice(coinIndex, 1, coin);
                },
                onAddMachineDrink(machineDrink) {
                    machineDrink = this.machine.drinks.find(f => f.id === machineDrink.drinkId);
                    const machineDrinkIndex = this.machine.drinks.indexOf(machineDrink);
                    machineDrink.count += 1;
                    this.machine.drinks.splice(machineDrinkIndex, 1, machineDrink);
                },
                onRemoveMachineDrink(machineDrink) {
                    machineDrink = this.machine.drinks.find(f => f.id === machineDrink.drinkId);
                    const machineDrinkIndex = this.machine.drinks.indexOf(machineDrink);
                    machineDrink.count -= 1;
                    this.machine.drinks.splice(machineDrinkIndex, 1, machineDrink);
                },
                onEditMachineName(machine) {
                    if (machine.id === this.machine.id)
                        this.machine.name = machine.name;
                }
            }
        });
    </script>

    <script>
        const adminOperationsConnection = new signalR.HubConnectionBuilder()
            .withUrl("/adminOperationsHub")
            .configureLogging(signalR.LogLevel.Information)
            .build();

        adminOperationsConnection.start().then(function () {
            console.log(`connected from machine panel. ConnectionId = ${adminOperationsConnection.connectionId}`);
        });

        adminOperationsConnection.on('LockMachineCoin', (machineCoin) => mainBlockVue.onLockMachineCoin(machineCoin));
        adminOperationsConnection.on('UnLockMachineCoin',
            (machineCoin) => mainBlockVue.onUnLockMachineCoin(machineCoin));

        adminOperationsConnection.on('AddMachineDrink', (machineDrink) => mainBlockVue.onAddMachineDrink(machineDrink));
        adminOperationsConnection.on('RemoveMachineDrink', (machineDrink) => mainBlockVue.onRemoveMachineDrink(machineDrink));
        adminOperationsConnection.on('EditMachineName', (machine) => mainBlockVue.onEditMachineName(machine));
    </script>
}