@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать!</h1>
    <p>Хорошо, что вы с нами! Мы рады предоставить вам возможность покупки напитков в наших автоматах!</p>
</div>
<div class="container-fluid" id="mainBlock">
</div>
@section Scripts
{
    <script>
        var mainBlockVue = new Vue({
            el: '#mainBlock',
            data: {
                machine: [],
                images: []
            },
            created: async function () {
                this.machine = await this.getMostAppropriateMachine();
                //this.machine.images.filter((value, index, self)=>self.find(f=>f.))
                //array.map(item => item.age)
                //    .filter((value, index, self) => self.indexOf(value) === index)
            },
            methods: {
                getMostAppropriateMachine: async function() {
                    return (await window.axios.get('/api/Machines/MostAppropriate')).data;
                }
            }
        });
    </script>
}
