@model Services.Models.CreateMachineViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Machine</h4>
<hr />
<div class="row" id="createMachineBlock">
    <div class="col-md-6">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MachineName" class="col-form-label"></label>
                <input asp-for="MachineName" value="Автомат_напитков_@DateTime.Now.ToString("MM_dd_yyyy_HH:mm:ss")" class="form-control" />
                <span asp-validation-for="MachineName" class="text-danger"></span>
            </div>
            <div class="form-group" v-for="(addedDrink,index) in newAddedDrinks">
                <label class="col-form-label">Machine Drink <span class="font-weight-bold">#{{index+1}}</span></label>
                <div class="input-group">
                    <select class="form-control" v-model="addedDrink.selectedDrinkId" :name="'DrinkIds['+index+'].DrinkId'">
                        <option v-for="drink in addedDrink.drinks" v-bind:value="drink.id">{{drink.name}}</option>
                    </select>
                    <input class="form-control col-sm-2" type="number" v-model="addedDrink.quantity" :name="'DrinkIds['+index+'].Quantity'" />
                    <div class="input-group-append">
                        <button class="btn btn-outline-success" v-bind:disabled="addedDrink.selectedDrinkId === '' || addedDrink.drinks.length <= 1"
                                type="button" v-on:click="addNewDrink(addedDrink.selectedDrinkId,index)">
                            +
                        </button>
                    </div>
                </div>
            </div>
            <hr style="height: 0.99px; background-color: #4b4747" />
            <div class="form-group" v-for="(addedCoin,index) in newAddedCoins">
                <label class="col-form-label">Machine Coin <span class="font-weight-bold">#{{index+1}}</span></label>
                <div class="input-group">
                    <select class="form-control" v-model="addedCoin.selectedCoinId" :name="'CoinIds['+index+'].CoinId'">
                        <option v-for="coin in addedCoin.coins" v-bind:value="coin.id">{{coin.name}}</option>
                    </select>
                    <input class="form-control col-sm-2" type="number" v-model="addedCoin.quantity" :name="'CoinIds['+index+'].Quantity'" />
                    <div class="input-group-append">
                        <button class="btn btn-outline-success"
                                v-bind:disabled="addedCoin.selectedCoinId === '' || addedCoin.coins.length <= 1"
                                type="button" v-on:click="addNewCoin(addedCoin.selectedCoinId,index)">
                            +
                        </button>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-controller="Admin">Back to List</a>
</div>

@section Scripts
{
    <script>
        var createMachineBlockVue = new Vue({
            el: '#createMachineBlock',
            data: {
                newAddedDrinks: [],
                newAddedCoins: []
            },
            created: async function () {
                const drinks = await this.getDrinks();
                const coins = await this.getCoins();

                this.newAddedDrinks.push({ selectedDrinkId: '', drinks: drinks, quantity: 1 });
                this.newAddedCoins.push({ selectedCoinId: '', coins: coins, quantity: 1 });
            },

            methods: {
                getDrinks: async function () {
                    return (await window.axios.get('/api/drinks')).data;
                },
                getCoins: async function () {
                    return (await window.axios.get('/api/coins')).data;
                },

                addNewDrink: function (selectedDrinkId, index) {

                    const currentAddedDrink = this.newAddedDrinks[index];

                    const selectedDrink = currentAddedDrink.drinks.find(f => f.id === selectedDrinkId);

                    // берем новые напитки которые еще не выбрали
                    const notSelectedDrinks = currentAddedDrink.drinks.filter(f => f.id !== selectedDrinkId);

                    // удаляем все напитки кроме того, который выбрали, чтобы нельзя было пользователю перевыбрать. Защита от дурака.
                    currentAddedDrink.drinks.splice(0, currentAddedDrink.drinks.length, selectedDrink);

                    // добавляем новый элемент для выбора напитков
                    this.newAddedDrinks.push({ selectedDrinkId: '', drinks: notSelectedDrinks, quantity: 1 });
                },

                addNewCoin: function (selectedCoinId, index) {

                    const currentAddedCoin = this.newAddedCoins[index];

                    const selectedCoin = currentAddedCoin.coins.find(f => f.id === selectedCoinId);

                    // берем новые напитки которые еще не выбрали
                    const notSelectedCoins = currentAddedCoin.coins.filter(f => f.id !== selectedCoinId);

                    // удаляем все напитки кроме того, который выбрали, чтобы нельзя было пользователю перевыбрать. Защита от дурака.
                    currentAddedCoin.coins.splice(0, currentAddedCoin.coins.length, selectedCoin);

                    // добавляем новый элемент для выбора напитков
                    this.newAddedCoins.push({ selectedCoinId: '', coins: notSelectedCoins, quantity: 1 });
                }
            }
        });
    </script>
}

