@model Persistence.Entities.Coin

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Coin</h4>
<hr />
<div class="row" id="addCoinBlock">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Value" class="control-label"></label>
                <input asp-for="Value" class="form-control" />
                <span asp-validation-for="Value" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Path</label>
                <select asp-for="Image.Id" class="form-control" v-on:change="imageSelectChange($event)" asp-items="ViewBag.ImageId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <img class="img-thumbnail" :src="selectedImagePath">
                <span asp-validation-for="Image.Path" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Image.Path" v-bind:value="selectedImagePath" />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-controller="Admin">Back to List</a>
</div>

@section Scripts
{
    <script>
        var addCoinBlockVue = new Vue({
            el: '#addCoinBlock',
            data: {
                selectedImagePath: ''
            },
            methods: {
                imageSelectChange: function (event) {
                    this.selectedImagePath = event.target.selectedOptions[0].text;
                }
            }
        });
    </script>
}
